@import url("https://fonts.googleapis.com/css?family=Lato:300,400");

body {
    font-family: 'Lato', sans-serif;
}

.page-navbar.navbar {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.page-navbar .navbar-nav .nav-item a {
    font-weight: bold;
}

.page-navbar.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.page-navbar .logo {
    font-size: 1.5rem;
}

.page-navbar.fixed-top+.page {
    padding-top: 62px;
}

.gradient {
    background: linear-gradient(120deg, #7f70f5, #30a1ec);
    color: #fff !important;
}

.cv-block {
    padding-bottom: 60px;
    padding-top: 60px;
}

.cv-block.block-intro {
    text-align: center;
    max-width: 850px;
    margin: auto;
}

.cv-block.block-intro .about-me {
    max-width: 800px;
    margin: auto;
}

.cv-block.block-intro p {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 30px;
}

.cv-block.block-intro .btn {
    padding: 0.375rem 1rem;
    border-radius: 2em;
}

.cv-block.block-intro {
    width: -100px;
    height: -100px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: -30px;
    margin-bottom: -30px;
}

.img-fluid {
    width: 20rem;
    margin-bottom: 5rem;
}

.cv-block.info {
    padding-top: 70px;
}

.cv-block.info h2 {
    font-weight: bold;
    margin-bottom: 70px;
}

.cv-block.info h3 {
    font-size: 1.3rem;
}

.cv-block.info .group {
    max-width: 800px;
    margin: auto;
}

.cv-block.info .group:not(:first-child) {
    margin-top: 90px;
}

.cv-block.info .group .period {
    font-size: 0.8rem;
    float: none;
    font-weight: bold;
    margin-top: 4px;
    color: #0923e8d2;
    opacity: 0.8;
}

.cv-block.info .group .organization {
    font-size: 0.85em;
    background-color: #0d5af3a9;
    display: inline-block;
    color: #fff;
    padding: 2px 8px;
    border-radius: 2em;
}

.cv-block.info .education.group .organization {
    background-color: #22f7b7d0;
}

.cv-block.info .group .item {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.cv-block.info .group h2+.item {
    padding-top: 25px;
    border-top: 1px solid #eee;
}

.cv-block.info .group .item .row {
    margin-bottom: 5px;
}

.cv-block.info .work-experience h3,
.cv-block.info .education h3 {
    font-weight: bold;
}

.cv-block .info-card {
    padding: 40px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    height: 100%;
}

.cv-block .info-card h2 {
    margin-top: 0;
    margin-bottom: 24px !important;
    font-size: 1.4rem;
}

.cv-block .info-card.skills h3 {
    margin-top: 25px;
    font-size: 1rem;
    font-weight: bold;
}

.cv-block .info-card.skills .progress {
    height: 3px;
}

.cv-block .info-card.contact-info .icon {
    font-size: 1.3em;
    color: #c9c9c9;
    position: relative;
    bottom: 4px;
}

.cv-block .info-card.contact-info h4 {
    margin-top: 25px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.cv-block.info .hobbies p {
    max-width: 700px;
    margin: auto;
    font-size: 1.2em;
}

.page-footer {
    padding-top: 32px;
    border-top: 1px solid #ddd;
    text-align: center;
    padding-bottom: 20px;
}

.page-footer a {
    display: inline-block;
    margin: 0px 10px;
    color: #282b2d;
    font-size: 18px;
}

.page-footer .links {
    display: inline-block;
}

.page-footer .social-icons {
    margin-top: 20px;
    margin-bottom: 16px;
}

.page-footer .social-icons a {
    font-size: 18px;
    margin: 0 3px;
    color: #ffffff;
    border: 1px solid;
    opacity: 0.75;
    border-radius: 50%;
    width: 36px;
    display: inline-block;
    height: 22px;
    text-align: center;
    background-color: #5b7dcb;
    line-height: 34px;
}

.page-footer .social-icons a:hover {
    opacity: 1;
}

@media (min-width: 768px) {

.cv-block {
    padding-bottom: 120px;
    padding-top: 120px;
}

.cv-block.info .group .period {
    float: right;
    }
}

@media (min-width: 576px)
{
.navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    }

.portfolio-navbar.fixed-top+.page {
    padding-top: 6rem;
    }
} 
/*----------------------------------------------
# Contact
--------------------------------------------*/

iframe{
    margin-left: -8rem;
}
#contact {
    display: flex;
    width: 500px;
    margin-left: 44%;
    padding-bottom: 130px;
}


.contact .info {
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    text-align: center;
}

.contact .info i {
    font-size: 20px;
    color: #149ddd;
    float: left;
    width: 44px;
    height: 44px;
    background: #dff3fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18;
    text-align: center;
}

.contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #01050a;
    margin-left: 35rem;
    text-align: center;
}

.contact .info .email p {
    padding-top: 5px;
    text-align: center;
}

.contact .info .social-links {
    padding-left: 60px;
    text-align: center;
}

.contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.contact .info .social-links a:hover {
    background: #149ddd;
    color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: #149ddd;
    color: #fff;
    text-align: center;
}

.contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
    margin-bottom: 15px;
}

.contact .php-email-form label {
    padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
    background: #149ddd;
    border: 0;
    padding: 10px 24px;
    color: rgb(8, 3, 32);
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
    background: #37b3ed;
}

.row.skigitlls-content {

    margin-left: 8rem;
}

@-webkit-keyframes animate-loading {
0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}